 <td><a href="#editAccount/<%= id %>"><%= accountNumber %></a></td> 
 <td><%= iban %></td>   
 <td><%= currency %></td>  
 <td style="text-align: right;"><%= $.formatNumber(balance, {format:"#,##0.00", locale:"it"}) %></td>  
 <td style="text-align: right;"><%= $.formatNumber(accountBal, {format:"#,##0.00", locale:"it"}) %></td>  
 <td ><a href="#" class="delete"><i class="icon-remove-sign"></i></a></td> 
  
  

