<div class="row">
    <form class="form-horizontal span12">
        <fieldset>
            <legend><%= I18n.t("label.account.new") %></legend>
            <br/>

            <div class="row">
                <div class="span9">

                    <input id="id" name="id" type="hidden" value="<%= model.id === null ? '' : model.id %>"/>
                    
                    <div class="control-group">
                        <label for="accountNumber" class="control-label"><%= I18n.t("label.account.number") %>:</label>

                        <div class="controls">
                            <input type="text" id="accountNumber" name="accountNumber" value="<%= model.accountNumber %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div> 
                         
                    <div class="control-group">
                        <label for="currency" class="control-label"><%= I18n.t("label.account.currency") %>:</label>
                        <div class="controls">
						    <select id="currency" name="currency">  
							  <option value="">---</option> 
							  <% _(currencyOptions).each(function(curr) { %>
								  <option value="<%= curr.id %>"><%= curr.name %></option>
							  <% }); %>
							</select>    
                      		<span class="help-inline"></span>
                     	</div> 
                    </div> 
                    
                        
	            </div>
			</div>
        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary save"><%= I18n.t("label.common.save") %></a>           
        </div>

    </form>

</div>



