
	<fieldset>
		<legend><%= I18n.t("label.account.list") %></legend>
		<br/>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th><%= I18n.t("label.account.number") %></th>
					<th><%= I18n.t("label.account.iban") %></th>
					<th><%= I18n.t("label.account.currency") %></th>
					<th style="text-align: right;"><%= I18n.t("label.account.amount") %></th>
					<th style="text-align: right;"><%= I18n.t("label.account.balance") %></th>
					<th></th>
				</tr>
			</thead>
			<tbody class="item">
			</tbody>
		</table>
	</fieldset>
