<div class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">

    <div class="navbar-inner">
        <a class="brand" href="/aktivecortex-web" style="padding: 4px 32px; border: 0px;">
            <img src="resources/img/logo_small.png"></a>
        <a class="brand" href="/aktivecortex-web/banking" style="border-right: 0px;">Cortex Bank</a>

        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="dropdown account-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#addAccount"><%= I18n.t("label.account.new") %></a></li>
                            <li><a href="#allAccount"><%= I18n.t("label.account.list") %></a></li>
                        </ul>
                    </li>
                </ul>

                <div class="span2">
                    &nbsp;
                </div>

                <!-- User Select -->
                <div class="span4">

                    <form class="navbar-form span3">
                        <span class="add-on"><i class="icon-user icon-white" style="margin-top: 6px;"></i></span>
                        <select id="cid" name="cid" class="user-selector"></select>
                    </form>
                </div>

                <div class="span2">
                    &nbsp;
                </div>

                <!-- Notification area -->
                    <ul class="nav">
                        <li id="process-stats" class="active">
                            <!-- Dropdown menu -->
                            <ul id="process-list" class="dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
                                <!-- running process -->
                            </ul>
                        </li>
                    </ul>

            </div>
        </div>
    </div>
</div>