
	<div class="header"></div>
	<!-- <fieldset> -->
	<!-- 	<legend>Movement List</legend> -->
	<br/>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th class="span2"><%= I18n.t("label.movement.date") %></th>
				<th class="span2"><%= I18n.t("label.movement.currdate") %></th>
				<th class="span3"><%= I18n.t("label.movement.type") %></th>
				<th class="span10"><%= I18n.t("label.movement.description") %></th>
				<th class="span3" style="text-align: right;"><%= I18n.t("label.movement.amount") %> (EUR)</th>
			</tr>
		</thead>
		<tbody class="item">
		</tbody>
	</table>
	<br/>
	<div class="footer"></div>
<!-- </fieldset> -->
