<div class="row pull-right">        
    <div ><span class="span2"><b><%= I18n.t("label.account.number") %>:</b></span><%= accountNumber %></div>
    <div ><span class="span2"><b><%= I18n.t("label.account.amount") %>:</b></span><%= $.formatNumber(balance, {format:"#,##0.00", locale:"it"}) %>&nbsp;<%= currency %></div>
    <div ><span class="span2"><b><%= I18n.t("label.account.balance") %>:</b></span><%= $.formatNumber(accountBal, {format:"#,##0.00", locale:"it"}) %>&nbsp;<%= currency %></div>
</div><br>



