<div class="row pull-left">        
    <div ><span class="span3"><b><%= I18n.t("label.account.balanceat") %> <%= maxAccountDate %>:</b></span><%= $.formatNumber(maxAccountBal, {format:"#,##0.00", locale:"it"}) %>&nbsp;<%= currency %></div>
    <div ><span class="span3"><b><%= I18n.t("label.account.balanceat") %> <%= minAccountDate %>:</b></span><%= $.formatNumber(minAccountBal, {format:"#,##0.00", locale:"it"}) %>&nbsp;<%= currency %></div>
</div><br>



