 <td><%= $.format.date(dispDate, 'dd/MM/yyyy') %></td> 
 <td><%= $.format.date(accountDate, 'dd/MM/yyyy') %></td>   
 <td><%= utils.getMovTypeDesc(type) %></td>  
 <td><%= description %></td>  
 <td style="text-align: right;"><%= sign %><%= $.formatNumber(amount, {format:"#,###.00", locale:"it"}) %></td>  

  
  

