<a id="process-stats-ins" data-toggle="dropdown" class="dropdown-toggle" href="#">
    <!-- process stats -->
    <i class="icon-tasks"></i>
    <span id="remaining" class="badge badge-info"><%= remaining %></span>
    <span id="done" class="badge badge-success"><%= done %></span>
    <span id="failed" class="badge badge-important"><%= failed %></span>
</a>
