<a id="process-item-<%= id %>" href="<%= link %>">
    <div class="clearfix">
        <span class="pull-left"><%= name + ': ' + id %></span>
        <span class="pull-right"><%= progress.completion %></span>
    </div>
    <div class="progress progress-mini ">
        <div style="width: 0%" class="bar"></div>
    </div>
    <div class="clearfix">
			<span class="pull-left progress-desc"><%=
			progress.description
			%></span>
    </div>
</a>