	
<div class="row status-bar">
    <div class="span12">	
		<div class="alert alert-info">
		      Select a user to start simulation
	   </div>
	</div>
	
	 <div class="span12 center">
    	<a href="#use/0001">
        	<img class="about-icon" src="resources/img/images.jpg" width="100">
        </a>
        <h3>Mark Jacobs</h3>        
    </div>
    
</div>

<br/>

<div class="row">
    <div class="span12 center">
        <a href="#use/0002">
        	<img class="about-icon" src="resources/img/images.jpg" width="100">
        </a>
        <h3>Linda Rowls</h3>        
    </div>
</div>