
<div class="header"></div>
<div class="row">
    <form class="form-horizontal span12">
        <fieldset>
            <legend><%= I18n.t("label.movement.new") %></legend>
            <br/>

            <div class="row">
                <div class="span9">

                    <input id="accountId" name="accountId" type="hidden" value="<%= accountId %>"/>                    
                                        
                     <div class="control-group">
                        <label for="type" class="control-label"><%= I18n.t("label.movement.type") %>:</label> 
                        <div class="controls">
						    <select id="type" name="type">  
							  <option value="">---</option> 
							  <% _(movtype).each(function(type) { %>
								  <option value="<%= type.id %>"><%= I18n.t("option.movement.type."+ type.id) %></option>
							  <% }); %>
							 
							</select>    
                      		<span class="help-inline"></span>
                     	</div> 
                    </div>
                     
                    <div class="control-group">
                        <label for="recipient" class="control-label"><%= I18n.t("label.movement.recipient") %> (Iban):</label>
                        <div class="controls">
                            <input type="text" id="recipient" name="recipient" value="<%= recipient %>" disabled />
                            <span class="help-inline"></span>
                        </div>
                    </div>   
                    <div class="control-group">
                        <label for="transDate" class="control-label"><%= I18n.t("label.movement.date") %>:</label>
                        <div class="controls">
	                        <div class="input-append date" id="dispDatePk" data-date="<%= dispDate %>" data-date-format="dd/mm/yyyy">
							  <input id="dispDate" name="dispDate" class="span2" size="16" type="text" value="<%= $.format.date(dispDate, 'yyyy-MM-dd') %>">
<!-- 							  <span class="add-on"><i class="icon-th"></i></span> -->
							  <span class="help-inline"></span>
							</div>
                        </div>
                    </div>   
                      	
                    <div class="control-group">
                        <label for="description" class="control-label"><%= I18n.t("label.movement.description") %>:</label>
                        <div class="controls">
                            <input type="text" id="description" name="description" value="<%= description %>"/> 
                            <span class="help-inline"></span>
                        </div>
                    </div>     
                      
                    <div class="control-group">
                        <label for="amount" class="control-label"><%= I18n.t("label.movement.amount") %>:</label>
                        <div class="controls">
                            <input type="text" id="transAmount" name="amount" value="<%= amount %>"/> &nbsp;<%= currency %>
                            <span class="help-inline"></span>
                        </div>
                    </div>                    
                                      
	            </div>
			</div>
        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary execute"><%= I18n.t("label.common.execute") %></a>            
        </div>

    </form>

</div>




