.dropdown-navbar {
    padding: 0;
    width: 240px;
    box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
    border-color: #bcd4e5;
}

.dropdown-navbar>li.nav-header {
    background-color: #ecf2f7 !important;
    color: #8090a0;
    border-bottom-color: #bcd4e5;
}

.dropdown-navbar>li.nav-header {
    border-bottom: 1px solid;
}

.dropdown-navbar>li {
    padding: 0 8px;
    background-color: #fff;
}

.dropdown-navbar>li:hover {
    background-color: #f4f9fc !important;
}

.dropdown-navbar>li>a {
    padding: 10px 2px 4px 2px;
    margin: 0;
    border-bottom: 1px solid;
    border-bottom-color: #eee;
    font-size: 12px;
    line-height: 16px;
    color: #555;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active, .dropdown-menu li.active a, .dropdown-menu li.active a:hover, .dropdown-menu .dropdown-submenu:hover>a, .nav-tabs .dropdown-menu li>a:focus {
    background: #4f99c6;
    color: #fff;
}

.dropdown-navbar>li>a:active, .dropdown-navbar>li>a:hover {
    background-color: transparent !important;
    color: #555;
}

.dropdown-navbar>li>a .progress {
    margin-bottom: 0;
    margin-top: 2px;
}

.dropdown-navbar>li>a .progress-desc {
    font-size: 10px;
}

.progress.progress-mini {
    height: 13px;
}

.dropdown-navbar>li:last-child>a:hover {
    background-color: #FFF;
    color: #4f99c6;
    text-decoration: underline;
}

.dropdown-navbar>li:last-child>a {
    border-bottom: 0 solid #DDD;
    border-top: 1px dotted transparent;
    color: #4f99c6;
    text-align: center;
    font-size: 13px;
}

li:last-child a [class^="icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

.dropdown-navbar>li>[class*="icon-"], .dropdown-navbar>li>a>[class*="icon-"] {
    margin-right: 5px !important;
    color: #555;
    font-size: 14px;
}

li [class^="icon-"], li [class*=" icon-"], .nav-list li [class^="icon-"], .nav-list li [class*=" icon-"] {
    width: auto;
}